@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 264 49% 21%;
    --card: 0 0% 98%;
    --card-foreground: 264 49% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 264 49% 21%;

    --primary: 340 100% 71%;
    --primary-foreground: 0 0% 100%;

    --secondary: 264 30% 95%;
    --secondary-foreground: 264 49% 21%;
    --muted: 264 20% 96%;
    --muted-foreground: 265 36% 50%;

    --accent: 331 100% 94%;
    --accent-foreground: 264 49% 21%;

    --destructive: 0 75% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 264 30% 90%;
    --input: 264 30% 90%;
    --ring: 340 100% 71%;
    --radius: 0.5rem;

    --chart-1: 340 100% 71%;
    --chart-2: 339 100% 65%;
    --chart-3: 331 100% 86%;
    --chart-4: 264 49% 21%;
    --chart-5: 261 51% 12%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 264 49% 21%;
    --sidebar-primary: 340 100% 71%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 331 100% 94%;
    --sidebar-accent-foreground: 264 49% 21%;
    --sidebar-border: 264 30% 90%;
    --sidebar-ring: 340 100% 71%;
  }

  .dark {
    --background: 264 49% 21%;
    --foreground: 0 0% 100%;
    --card: 261 51% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 261 51% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 340 100% 71%;
    --primary-foreground: 0 0% 100%;

    --secondary: 264 40% 28%;
    --secondary-foreground: 0 0% 100%;
    --muted: 264 40% 28%;
    --muted-foreground: 265 36% 74%;

    --accent: 339 100% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 0 0% 98%;

    --border: 264 40% 28%;
    --input: 264 40% 28%;
    --ring: 340 100% 71%;
    --radius: 0.5rem;

    --chart-1: 340 100% 71%;
    --chart-2: 339 100% 65%;
    --chart-3: 331 100% 86%;
    --chart-4: 265 36% 74%;
    --chart-5: 0 0% 100%;

    --sidebar-background: 264 49% 21%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 340 100% 71%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 339 100% 65%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 264 40% 28%;
    --sidebar-ring: 340 100% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
